.menu-container {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 1220px;
}

.menu-heading {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  margin-top: 50px;
}
/* 
.menu-items {
  display: flex;
  flex-wrap: wrap;
  
}

.menu-item {
  flex-basis: 300px;
  margin-right: 40px;
  margin-left: 40px;

  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 1750px;
}

.menu-item:hover {
  transform: scale(1.05);
}

.item-image {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.item-price {
  font-weight: bold;
  margin-top: 10px;
  color: #e4576e;
} */
.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.menu-item:hover {
  transform: translateY(-5px);
}

.item-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.item-details {
  margin-top: 10px;
}

.item-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.item-description {
  color: #555;
  margin-bottom: 10px;
}

.item-price {
  font-weight: bold;
  color: #e4576e;
}

.item-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e4576e;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.item-button:hover {
  background-color: #c9344f;
}


.cart-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 50px;
}

.cart-items {
  list-style: none;
  padding: 0;
}

.cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.cart-items li:hover {
  transform: scale(1.02);
}

.cart-items li button {
  background-color: #e4576e;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-items li button:hover {
  background-color: #b61919;
}

button {
  background-color: #e4576e;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #b61919;
}
.search-container {
  position: relative;
  margin-bottom: 20px;
  top: 50px;
  left: -4px;
  z-index: 200;
}

.search-bar {
  width: 20%;
  padding: 8px 40px 8px 10px; /* Adjust padding to accommodate the search icon */
  font-size: 16px;
  border: none;

  border-radius: 24px;
  background-color: #f1f3f4;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.search-bar:focus {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}






.menu-categories {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.category-button {
  background-color: #e4576e;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.category-button:hover {
  background-color: #b61919;
}
