<div class="form-container">
    <div class="image-container">
      <!-- Add your image here -->
      <img src="assets/images/f4.webp" alt="Restaurant Image" />
    </div>
    <div class="form-content">
      <form>
        <div class="form-row">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div class="form-row">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
      
        <div class="form-row">
          <label for="datetime">Date &amp; Time:</label>
          <input type="datetime-local" id="datetime" name="datetime" required>
        </div>
        <div class="form-row">
          <label for="people">Number of People:</label>
          <select id="people" name="people" required>
            <option value="">Select</option>
            <option value="1">1 person</option>
            <option value="2">2 people</option>
            <option value="3">3 people</option>
            <option value="4">4 people</option>
            <!-- Add more options as needed -->
          </select>
        </div>
        <div class="form-row">
          <label for="request">Special Request:</label>
          <textarea id="request" name="request" rows="4"></textarea>
        </div>
        <div class="form-row">
          <button type="submit" class="book-now-button">Book Now</button>
        </div>
      </form>
    </div>
  </div>
  