<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair:ital,wght@1,300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="banner">
    <div class="content">
        
  </div>
  
  <div class="carousel">
    <div class="slide">
      <img src="assets/images/slideshow-8.jpg" alt="Image 1" width="1300px" height="600px">
      <div class="tagline">
        <h1>Indulge in Exquisite Flavors</h1>
         <p>Experience a culinary journey like no other.</p>
      </div>
    </div>
    <div class="slide">
      <img src="assets/images/slideshow-9.jpg" alt="Image 2">
      <div class="tagline">
      <h1>Unleash Your Palate's Desires</h1>
       <p>Discover a symphony of flavors crafted to perfection.</p>

    </div>
    </div>
    <div class="slide">
      <img src="assets/images/slideshow-10.jpg" alt="Image 3">
      <div class="tagline">
        <h1>A Fusion of Taste and Art</h1>
        <p>Embark on a culinary adventure that delights all senses.</p>      
    </div>
    </div>
    <div class="slide">
      <img src="assets/images/slideshow-11.jpg" alt="Image 3">
      <div class="tagline">
        <h1>A Fusion of Taste and Art</h1>
        <p>Embark on a culinary adventure that delights all senses.</p>      
    </div>
    </div>
  </div>
</div>
<!--about-->
<div class="second" id="about">
<div id="container"  class="about">	
	
	<div class="product-details" >
		
	<h1>About Us</h1>
	
			<p class="information">"We are a dedicated team of food enthusiasts committed to
         delivering exceptional dining experiences. With a blend of creativity, expertise,
          and a commitment to quality, 
        we strive to tantalize your taste buds and create memorable moments.
        Explore our diverse menu, crafted with love and precision, 
        and embark on a gastronomic journey that celebrates flavors, innovation, and a genuine passion for food.
         Join us and discover a world of culinary delights that will leave you craving for more."</p>

</div>
	
<div class="product-image">
	
	<img src="https://images.pexels.com/photos/4109996/pexels-photo-4109996.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
	

<div class="info">
	<h2> Opening Hours</h2>
	<ul>
		<li><strong>Monday: </strong> 9:00 AM - 10:00 PM </li>
		<li><strong>Tuesday: </strong> 9:00 AM - 10:00 PM</li>
		<li><strong>Wednesday: </strong> 9:00 AM - 10:00 PM</li>
		<li><strong>Thursday: </strong> 9:00 AM - 10:00 PM</li>
		<li><strong>Friday: </strong> 9:00 AM - 11:00 PM</li>
    <li><strong>Saturday: </strong> 9:00 AM - 12:00 PM</li>
    <li><strong>Sunday: </strong> 9:00 AM - 12:00 PM</li>
	</ul>
</div>
</div>

</div>

</div>
<hr>






<!-- ..testimonials.  -->
  <!--GALLERY-->
  <!-- <div id="gallery">
    <table  >
       
        <tr>
            <th ><img class=" gallery-image" src="../../../assets/images/food-20.webp" height="260px" width="290px"></th>
            <th ><img class=" gallery-image" src="../../../assets/images/food-10.jpeg" height="260px" width="290px"></th>
            <th ><img  class=" gallery-image" src="../../../assets/images/food-11.jpeg" height="260px" width="290px"></th>
            <th ><img class=" gallery-image" src="../../../assets/images/food-12.jpeg" height="260px" width="290px"></th>
        </tr>
        <tr>
            <td><img  class=" gallery-image"  src="../../../assets/images/food-13.jpg"  height="260px" width="290px"></td>
            <td ><img  class=" gallery-image" src="../../../assets/images/food-14.webp" height="260px" width="290px"></td>
            <td ><img  class=" gallery-image" src="../../../assets/images/food-15.jpeg" height="260px" width="290px"></td>
            <td ><img  class=" gallery-image" src="../../../assets/images/food-16.jpeg" height="260px" width="290px"></td>
        </tr>  
        <tr>
          <td><img  class=" gallery-image"  src="../../../assets/images/food-17.jpeg"  height="260px" width="290px"></td>
          <td ><img  class=" gallery-image" src="../../../assets/images/food-18.jpeg" height="260px" width="290px"></td>
          <td ><img  class=" gallery-image" src="../../../assets/images/food-19.jpeg" height="260px" width="290px"></td>
          <td ><img  class=" gallery-image" src="../../../assets/images/food-9.jpeg" height="260px" width="290px"></td>
      </tr>  
    </table>
    </div> -->
  <!--contact-->
  <div class="contact-container">

    <div class="contact-details" id="contact">
      <h2>Contact Us</h2>
      <div class="contact-info">
        <p class="info-item"><span class="label">Restaurant Name:</span> Restaurant Name</p>
        <p class="info-item"><span class="label">Address:</span> Address</p>
        <p class="info-item"><span class="label">Phone Number:</span> Phone Number</p>
        <p class="info-item"><span class="label">Email:</span> Email</p>
        <p class="info-item"><span class="label">Website:</span> Website</p>
      </div>
    </div>
    
  </div>
 
 
