
.banner {
  position: relative;
  height: 600px;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

@keyframes carouselAnimation {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.slide:nth-child(1) {
  animation: carouselAnimation 12s infinite;
}

.slide:nth-child(2) {
  animation: carouselAnimation 12s infinite 3s;
}

.slide:nth-child(3) {
  animation: carouselAnimation 12s infinite 6s;
}
.slide:nth-child(4) {
  animation: carouselAnimation 12s infinite 9s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}


.tagline {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: white;
  font-size: 24px;
  z-index: 1;
}

.tagline h1 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  margin-left: 20px;
}

.tagline p {
  font-size: 18px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  margin-left: 20px;
}
/* .. about..  */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');


  
.second {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  height: 1200px;
}

.about {
  margin-top: 50px; /* Adjust the top margin value to move the container down */
}



#container{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(2, 2, 2, 0.9);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto 0;
	height: 450px;
	width: 900px;
/* margin-top: 75px; */
	
}



.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 45%;
  
}

#container .product-details h1{
	font-family:'Times New Roman', Times, serif;
	display: inline-block;
	/* position: relative; */
	font-size: 30px;
	color: #edeef0;
	margin: 0;
  margin-left: 100px;
	
}
.second{
  background-image: url(../../../assets/images/background.png);
  height: 600px;
  margin-top: -15px;
}
#container .product-details h1:before{
	position: absolute;
  
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Times New Roman', Times, serif;
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}


#container .product-details > p {
font-family:'Times New Roman', Times, serif;
	text-align: center;
	font-size: 18px;
	color: #eee3e3;
	
}
.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
	
}


.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 45%;
	display: inline-block;
}

#container img {width: 100%;height: 100%;}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Bree Serif', serif;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: pointer;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}
