<nav>
  <a routerLink="/" [routerLinkActive]="'active'"><b>HOME</b></a>
  <a href="#container"><b>ABOUT</b></a>
  <!-- <a href="#gallery"><b>GALLERY</b></a> -->
  <a routerLink="/menu" [routerLinkActive]="'active'"><b>MENU</b></a>
  <a routerLink="/cart" [routerLinkActive]="'active'"><b>CART</b></a>
  <a href="#contact"><b>CONTACT</b></a>
  <a routerLink="/firstpage" [routerLinkActive]="'active'"><b>SIGNOUT</b></a>
  <a routerLink="/book" [routerLinkActive]="'active'" class="book-table-button"><b>BOOK A TABLE</b></a>
   </nav>
